<div class="container-fluid">
    <form (ngSubmit)="onSubmit()">
        <h3>Add Doctor to Databse</h3>
        <div class="mb-3">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control" name="firstname" [(ngModel)]="formData.first_name">
        </div>
        <div class="mb-3">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" name="lastname" [(ngModel)]="formData.last_name">
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="formData.email">
        </div>               
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>